In [1]:
import json
import pandas as pd
import pprint
import numpy as np

In [3]:
# Opening JSON file
f = open('../experiment_data/mturk-experiment-2.json',)
  
data = json.load(f)

f.close()

Data is a list of dictionaries, where each dictionary corresponds to one MTurk assignment.

In [4]:
pd.DataFrame.from_dict(data)

,HITId,AssignmentId,WorkerId,workerId,results
0,34F34TZU858LL1ONLL19TG3LV5SJ2W,35BLDD71IG6N5RONHJT77ZK9B9QVZN,A14YPOV9J2FAYU,A14YPOV9J2FAYU,"{'data': [{}, {'age': '4554', 'gender': 'Man'}..."
1,34F34TZU858LL1ONLL19TG3LV5SJ2W,3WZ36BJEVDPCA1HI6ADPKZPLNLPBTI,A10HW8JXM17XLD,A10HW8JXM17XLD,"{'data': [{}, {'age': '3544', 'gender': 'Woman..."
2,34F34TZU858LL1ONLL19TG3LV5SJ2W,3SEPORI8WX83D3LP6O2BBC6WQZWZAX,A1969Q0R4Y0E3J,A1969Q0R4Y0E3J,"{'data': [{}, {'age': '2534', 'gender': 'Woman..."
3,34F34TZU858LL1ONLL19TG3LV5SJ2W,3LRKMWOKBFQE80QLT99W5UNYEBXZ2J,A2D8XOCFB0J0BO,A2D8XOCFB0J0BO,"{'data': [{}, {'age': '3544', 'gender': 'Man'}..."
4,34F34TZU858LL1ONLL19TG3LV5SJ2W,3VNL7UK1XPS2NITYBCZL3PG62KTTFW,A2V8CV9H3U2M5P,A2V8CV9H3U2M5P,"{'data': [{}, {'age': '5564', 'gender': 'Woman..."
5,34F34TZU858LL1ONLL19TG3LV5SJ2W,345LHZDED71M7JSURMOT7CDBI7J3UA,A36BETX5G9BSZ2,A36BETX5G9BSZ2,"{'data': [{}, {'age': '1824', 'gender': 'Man'}..."
6,34F34TZU858LL1ONLL19TG3LV5SJ2W,3KYQYYSHY5GPC6AUOPIWLF7YRZLODJ,A3ROADR7T6811,A3ROADR7T6811,"{'data': [{}, {'age': '2534', 'gender': 'Man'}..."
7,34F34TZU858LL1ONLL19TG3LV5SJ2W,3SLE99ER0XM8WDQHC2276NQ28KVZBC,A24M9OW53CLT94,A24M9OW53CLT94,"{'data': [{}, {'age': '2534', 'gender': 'Man'}..."
8,34F34TZU858LL1ONLL19TG3LV5SJ2W,3TY7ZAOG5PTCNVOLEL28ZR66D8P0KB,A2547CTY15P0SM,A2547CTY15P0SM,"{'data': [{}, {'age': '3544', 'gender': 'Woman..."

In [5]:
output = pd.DataFrame()

for assignment in data:
    output = output.append(assignment['results']['data'][-2], ignore_index=True)


feedback_1 = 'How good was your partner at playing the game?'
feedback_2 = 'Did you have any issues with the task or the interface?'
feedback_3 = 'Was the game too short, too long, or a good length?'

pd.set_option('display.max_colwidth', None)
output

,feedbackAdditional,feedbackBugs,feedbackLength
0,,,
1,This was a very interesting study. Thank you for the opportunity to participate.,I did not encounter any problems.,I think the length was appropriate.
2,,I HAD TO COMPLETE THIS TASK TWICE BECAUSE IT FAILED TO SUBMIT THE FIRST TIME!,
3,Co-Operation to Partner,No,longer
4,good task,No,like the length played
5,GOOD,NO,LONGER
6,none,none,longer
7,None,None,I felt the length was enough to determine my partner's skills.
8,very interesting,no,very interesting